body
{
    background-image: url("Images/DS3.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.titlecard
{
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: beige;
    border-bottom: 5px solid white;
    font-size: 25px;
    border-radius: 10px;
    border-top: 5px solid white;
    margin-top: 30px;
    text-shadow: #222222 2px 1px 1px;
}
.miniinfo
{
    display: flex;
    float: none;
    gap: 15px;
    background-color: beige;
    opacity: 0.8;
    p
    {
        font-family: "HelveticaNeue-Light", "HelveticaNeue-Light", sans-serif;
        text-shadow: orange 2px 1px 1px;
    }
    border-radius: 10px;
    border-right: 5px solid gray;
    border-left: 2px solid gray;
    border-top: 2px solid gray;
    border-bottom: 5px solid gray;
}

main
{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.videoarea
{
    flex: 2;
    display: flex;
    flex-direction: column;
    float: right;
    margin-left: 1500px;
    background-color: white;
    border-radius: 15px;
    text-align: center;
    border: 5px solid black;
    opacity: 0.9;
}

.gamesum
{
    display: flex;
    flex:1;
    float: left;
    legend
    {
        background-color: white;
        border-radius: 10px;
        opacity: 0.8;
        font-family: "HelveticaNeue-Light", "HelveticaNeue-Light", sans-serif;
        text-shadow: orange 2px 1px 1px;
    }
}
.gs
{
    background-color: gray;
    border-radius: 10px;
    opacity: 0.8;
    text-align: left;
    border: 5px solid white;
    font-family: "HelveticaNeue-Light", "HelveticaNeue-Light", sans-serif;
    font-size: 18px;
    h2
    {
        text-align: center;
        color: white;
        text-shadow: black 2px 1px 1px;
    }
}

.dabutton
{
    border-radius: 15px;
    border: #222222 2px solid;
    padding: 12px 24px;
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    font-family: "HelveticaNeue-Light", "HelveticaNeue-Light", sans-serif;
    font-size: 32px;
    opacity: 0.8;
    a
    {
        color: black;
        text-decoration: none;
        text-shadow: orange 2px 1px 1px;
    }
}


/*ne radi i neda mi se tražiti zaš*/
a
{
    transition: transform 0.2s ease;
}

a:hover
{
    transform: scale(1.2);
}
